<div class="row">
    <div class="col-sm-3">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Insert User</div>
            <div class="card-body">
                <form action="/insert" method="POST">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label>User Email</label>
                        <input type="email" class="form-control" name="usermail">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Get All Users</div>
            <div class="card-body">
                {{#each items}}
                <div>
                    Id : {{this._id}}
                </div>
                <div>
                    User Name : {{this.userName}}
                </div>
                <div>
                    User Mail : {{this.userMail}}
                </div>
                <br>
                {{/each}}
                <form action="/getusers" method="GET">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Get Users</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  <div class="col-sm-3">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Update User</div>
            <div class="card-body">
                <form action="/update" method="POST">
                <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control" name="id">
                    </div>
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label>User Email</label>
                        <input type="email" class="form-control" name="usermail">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Delete User</div>
            <div class="card-body">
                <form action="/delete" method="POST">
                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control" name="id">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>